.fondoAzul {
    background: lightblue !important;
}

.fondoVerde {
    background: lightgreen !important;
}

.letraGrande {
    font-size: 25px;
}

.activado {
    font-weight: 600;
    background: yellow;
}
